In [2]:
#Load the necesssary libraries
import pandas as pd

In [8]:
#Load the datasets
df_arabica=pd.read_csv('arabica_data_cleaned.csv',index_col=[0])
df_robusta=pd.read_csv('robusta_data_cleaned.csv',index_col=[0])

In [9]:
df_arabica.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [10]:
df_robusta.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,sheema south western,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
2,Robusta,nishant gurjer,India,sethuraman estate kaapi royale,25,sethuraman estate,14/1148/2017/21,kaapi royale,3170,chikmagalur karnataka indua,...,NaN,2,"October 31st, 2018",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,3170.0,3170.0,3170.0
3,Robusta,andrew hetzel,India,sethuraman estate,NaN,NaN,0000,sethuraman estate,1000m,chikmagalur,...,Green,0,"April 29th, 2016",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,1000.0,1000.0,1000.0
4,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1212,central,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1212.0,1212.0,1212.0
5,Robusta,katuka development trust ltd,Uganda,katikamu capca farmers association,NaN,katuka development trust,0,katuka development trust ltd,1200-1300,luwero central region,...,Green,3,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1200.0,1300.0,1250.0

In [11]:
df_arabica.dtypes

Species                   object
Owner                     object
Country.of.Origin         object
Farm.Name                 object
Lot.Number                object
Mill                      object
ICO.Number                object
Company                   object
Altitude                  object
Region                    object
Producer                  object
Number.of.Bags             int64
Bag.Weight                object
In.Country.Partner        object
Harvest.Year              object
Grading.Date              object
Owner.1                   object
Variety                   object
Processing.Method         object
Aroma                    float64
Flavor                   float64
Aftertaste               float64
Acidity                  float64
Body                     float64
Balance                  float64
Uniformity               float64
Clean.Cup                float64
Sweetness                float64
Cupper.Points            float64
Total.Cup.Points         float64
Moisture                 float64
Category.One.Defects       int64
Quakers                  float64
Color                     object
Category.Two.Defects       int64
Expiration                object
Certification.Body        object
Certification.Address     object
Certification.Contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

In [15]:
df_robusta.dtypes

Species                   object
Owner                     object
Country.of.Origin         object
Farm.Name                 object
Lot.Number                object
Mill                      object
ICO.Number                object
Company                   object
Altitude                  object
Region                    object
Producer                  object
Number.of.Bags             int64
Bag.Weight                object
In.Country.Partner        object
Harvest.Year               int64
Grading.Date              object
Owner.1                   object
Variety                   object
Processing.Method         object
Fragrance...Aroma        float64
Flavor                   float64
Aftertaste               float64
Salt...Acid              float64
Bitter...Sweet           float64
Mouthfeel                float64
Uniform.Cup              float64
Clean.Cup                float64
Balance                  float64
Cupper.Points            float64
Total.Cup.Points         float64
Moisture                 float64
Category.One.Defects       int64
Quakers                    int64
Color                     object
Category.Two.Defects       int64
Expiration                object
Certification.Body        object
Certification.Address     object
Certification.Contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

In [65]:
df_arab=df_arabica[['Species','Aroma','Flavor','Aftertaste','Acidity','Body','Balance','Uniformity','Clean.Cup','Sweetness','Cupper.Points','Total.Cup.Points','Moisture']]

In [66]:
df_robu=df_robusta[['Species','Fragrance...Aroma','Flavor','Aftertaste','Salt...Acid','Bitter...Sweet','Mouthfeel','Uniform.Cup','Clean.Cup','Balance','Cupper.Points','Total.Cup.Points','Moisture']]

In [67]:
df_robu.head()

,Species,Fragrance...Aroma,Flavor,Aftertaste,Salt...Acid,Bitter...Sweet,Mouthfeel,Uniform.Cup,Clean.Cup,Balance,Cupper.Points,Total.Cup.Points,Moisture
1,Robusta,7.83,8.08,7.75,7.92,8.00,8.25,10.0,10.0,7.92,8.00,83.75,0.12
2,Robusta,8.00,7.75,7.92,8.00,8.00,7.92,10.0,10.0,7.92,8.00,83.50,0.00
3,Robusta,7.92,7.83,7.92,8.00,7.83,7.83,10.0,10.0,7.92,8.00,83.25,0.00
4,Robusta,8.00,7.92,7.92,7.75,7.75,7.83,10.0,10.0,7.75,8.08,83.00,0.12
5,Robusta,8.33,7.83,7.83,7.75,7.58,8.25,10.0,10.0,7.75,7.67,83.00,0.12

In [68]:
df_arab.head()

,Species,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture
1,Arabica,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58,0.12
2,Arabica,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92,0.12
3,Arabica,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75,0.00
4,Arabica,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00,0.11
5,Arabica,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83,0.12

In [69]:
df_robu.shape

(28, 13)

In [70]:
df_arab.shape

(1311, 13)

In [71]:
df_robu.isnull().sum()

Species              0
Fragrance...Aroma    0
Flavor               0
Aftertaste           0
Salt...Acid          0
Bitter...Sweet       0
Mouthfeel            0
Uniform.Cup          0
Clean.Cup            0
Balance              0
Cupper.Points        0
Total.Cup.Points     0
Moisture             0
dtype: int64

In [72]:
df_arab.isnull().sum()

Species             0
Aroma               0
Flavor              0
Aftertaste          0
Acidity             0
Body                0
Balance             0
Uniformity          0
Clean.Cup           0
Sweetness           0
Cupper.Points       0
Total.Cup.Points    0
Moisture            0
dtype: int64

In [73]:
df_robu.columns = ['Species','Aroma','Flavor','Aftertaste','Acidity','Body','Balance','Uniformity','Clean.Cup','Sweetness','Cupper.Points','Total.Cup.Points','Moisture']

In [74]:
combined_df=pd.concat([df_arab,df_robu])

In [75]:
#reset the index
combined_df = combined_df.reset_index(drop=True)

In [76]:
combined_df.tail()

,Species,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture
1334,Robusta,7.75,7.58,7.33,7.58,7.75,5.08,10.00,10.00,7.83,7.83,78.75,0.00
1335,Robusta,7.50,7.67,7.75,7.75,8.42,5.17,10.00,10.00,5.25,8.58,78.08,0.00
1336,Robusta,7.33,7.33,7.17,7.42,7.42,7.50,9.33,9.33,7.17,7.17,77.17,0.00
1337,Robusta,7.42,6.83,6.75,7.17,7.08,7.25,9.33,9.33,7.00,6.92,75.08,0.10
1338,Robusta,6.75,6.67,6.50,6.83,6.67,6.92,9.33,9.33,6.83,7.92,73.75,0.12

In [77]:
combined_df['Species'].replace({'Arabica':1,'Robusta':0},inplace=True)

In [79]:
combined_df.Species.value_counts()

1    1311
0      28
Name: Species, dtype: int64

In [80]:
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

In [93]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [84]:
y = combined_df['Species']
X = combined_df.drop('Species', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [85]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
ypred = model.predict(X_test)
evaluation = f1_score(y_test, ypred)
evaluation

0.9942857142857142

In [92]:
print(classification_report(y_test, ypred, target_names=['Robusta','Arabica']))

              precision    recall  f1-score   support

     Robusta       1.00      0.57      0.73         7
     Arabica       0.99      1.00      0.99       261

    accuracy                           0.99       268
   macro avg       0.99      0.79      0.86       268
weighted avg       0.99      0.99      0.99       268

In [95]:
confusion_matrix(y_test, ypred)

array([[  4,   3],
       [  0, 261]], dtype=int64)